.container {
  height: 100%;

  ::ng-deep .mat-pane {
    max-width: 100% !important;
    min-height: 73vh;
    margin-bottom: 32px !important;
    margin-right: 32px !important; 
  }
}

.practice-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 12px;
  padding: 12px;
  background-color: #121212;
  border-radius: 1rem;
}

.section-divider {
  margin: 16px;
  width: 100%;
  max-width: 97%; 
  margin-left: auto;
  margin-right: auto;
  background-color: #444; 
}


